node_modules
dist
dist-ssr
*.local
.env
.env.local
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Backend Python
backend/uploads/
backend/__pycache__/
backend/**/__pycache__/
*.pyc
